################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EpiLight/.vs/EpiLight/v16
/EpiLight/Chapter10BinaryTree/obj/Debug/netstandard2.0
/EpiLight/Chapter10BinaryTree/obj
